In [1]:
import pandas as pd

In [65]:
df = pd.read_csv('ts.csv')
df.head()

,Year,Month,Product Tag,BRAND,PACKAGE,Sales Value,Number_Units,WAP,Volume_Sales
0,2016,APR,Product Tag 1,BRAND 1,PACKAGE 1,0.0,0.0,NaN,NaN
1,2016,APR,Product Tag 2,BRAND 2,PACKAGE 2,0.0,0.0,NaN,NaN
2,2016,APR,Product Tag 3,BRAND 3,PACKAGE 1,0.0,0.0,NaN,NaN
3,2016,APR,Product Tag 4,BRAND 4,PACKAGE 1,0.0,0.0,NaN,NaN
4,2016,APR,Product Tag 5,BRAND 5,PACKAGE 1,0.0,0.0,NaN,NaN

In [60]:
from tqdm import tqdm

def dummify_series(df, column_name):
    manufacturer_dict = {}

    #manufacturer_dict.keys = df['MANUFACTURER'].unique()
    i = 1
    for key in (df[column_name].unique()):   
        manufacturer_dict[key] = column_name + ' ' + str(i)
        i += 1
    
    return df[column_name].map(manufacturer_dict)

In [61]:
def automate_dummify(df, cols):
    for c in cols:
        df[c] = dummify_series(df, c)
    return df

In [64]:
df.head()

,Year,Month,Product Tag,BRAND,PACKAGE,Sales Value,Number_Units,WAP,Volume_Sales
0,2016,APR,Product Tag 1,BRAND 1,PACKAGE 1,0.0,0.0,NaN,NaN
1,2016,APR,Product Tag 2,BRAND 2,PACKAGE 2,0.0,0.0,NaN,NaN
2,2016,APR,Product Tag 3,BRAND 3,PACKAGE 1,0.0,0.0,NaN,NaN
3,2016,APR,Product Tag 4,BRAND 4,PACKAGE 1,0.0,0.0,NaN,NaN
4,2016,APR,Product Tag 5,BRAND 5,PACKAGE 1,0.0,0.0,NaN,NaN

In [62]:
df.columns

Index(['Year', 'Month', 'Product Tag', 'BRAND', 'PACKAGE', 'Sales Value',
       'Number_Units', 'WAP', 'Volume_Sales'],
      dtype='object')

In [63]:
automate_dummify(df, cols=['Product Tag', 'BRAND', 'PACKAGE']).to_csv('dummified_ts.csv', index=False)